@import "./Assets/scss/index.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Raleway", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a:not(.logoLink) {
  text-decoration: none;
  display: inline-block;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-block;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

button:disabled {
  opacity: 0.5;
}

a:hover,
button:not(:disabled):hover {
  transform: scale(1.04);
}

input {
  width: 100%;
  font-family: "Raleway", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: #303030;
  display: block;
  padding: 15.5px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid rgba(53, 120, 229, 0.1);
  // background-color: #ffffff;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #d3efea;
}

body::-webkit-scrollbar-thumb {
  background-color: #7a869a;
}
